[GPIO]
heater = <INT: GPIO pin of relay controlling general heater>
humidifier = <INT: GPIO pin of relay controlling the humidifier>
lamp = <INT: GPIO pin of relay controlling the heat lamp>
dht22 = <INT: GPIO data pin of temperature/humidity sensor>

[SCHEDULE]
day_start = <INT: What hour (military) to be considered the start of day time>
day_end = <INT: What hour (military) to considered the start of night time>

[THERMOSTAT]
desired_temp = <INT: Desired temperature>
desired_humidity = <INT: Desired humidity level>
temp_range = <INT: Allowable range for temperature to change>
humidity_range = <INT: Allowable range for humidity to change>
buffer_duration = <INT: Duration in seconds of climate data to store in buffer (seconds)>
spray_duration = <INT: How long to activate humidifier for (seconds)>
hardware_interval = <INT: Time between updating hardware states>

[SERVER]
port = <INT: Database port>
base_url = <STR: Database URL (no port/endpoint, uses port, data_url, device_url)>
sock_url = <STR: Full URL of database websocket(including port/endpoint)>
data_url = <STR: Database endpoint for posting climate data>
device_url = <STR: Database endpoint for posting device data>
data_update_interval = <INT: Interval to update database (seconds)>
username = <STR: Username to access database>
password = <STR: Password to access database>
