[GPIO]
# This section assigns GPIO pin numbers to specific devices.
# The pin numbers defined should be BCM Pin numbers, not board pin numbers.
# To understand the difference, see https://raspberrypi.stackexchange.com/a/12967

# INT: GPIO pin of relay controlling general heater
heater = 1

# INT: GPIO pin of relay controlling humidifier
humidifier = 1

# INT: GPIO pin of relay controlling heat lamp
lamp = 1

# INT: GPIO data pin of DHT22 sensor
dht22 = 1

[SCHEDULE]
# INT: What hour (military) to be considered the start of day time
day_start = 7

# INT: What hour (military) to considered the start of night time
day_end = 20

[THERMOSTAT]
# INT: Desired temperature
desired_temp = 75

# INT: Desired humidity levels
desired_humidity = 75

# INT: Allowable range for temperature to differ from `desired_temp` before a heater will activate
temp_range = 2

# INT: Allowable range for humidity to differ from `desired_humidity` before the humidifier will activate
humidity_range = 2

# INT: INT: Duration in seconds that temp/humidity ranges will be stored to calculate running averages
buffer_duration = 10

# INT: How long to activate humidifier for in seconds
spray_duration = 5

# INT: Amount of time in seconds between checking whether to turn heaters/humidifiers on/off
hardware_interval = 15

[SERVER]
# INT: Hostname of the database
server_hostname = 127.0.0.1

# INT: Port of the database
server_port = 8000

# INT: Endpoint on the database to broadcast temperature/humidity readings
socket_endpoint = /ws/broadcastData/

# INT: Endpoint on the database to store temperature/humidity readings
climate_endpoint = /api/data/

# INT: Endpoint on the database to store device events
device_endpoint = /api/device/

# INT: How often in minutes to send data to `climate_endpoint`
data_update_interval = 10

# INT: Database username
username =

# INT: Database password
password =
