[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
django-cors-headers = "*"
requests = "*"
channels = "*"
channels-redis = "*"
asyncio = "*"
websockets = "*"
"RPi.GPIO" = {version = "*", sys_platform = "!= 'win32'"}
"Adafruit-DHT" = {version = "*", sys_platform = "!= 'win32'"}

[dev-packages]
"mock.gpio" = "*"

[requires]
python_version = "3.7"
