[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"RPi.GPIO" = "*"
Adafruit-DHT = "*"
beautifulsoup4 = "*"
plotly = "*"
matplotlib = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.7"
