[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"RPi.GPIO" = {version = "*", sys_platform = "=='linux'"}
Adafruit-DHT = {version = "*", sys_platform = "=='linux'"}
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7"
