[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"RPi.GPIO" = {version = "*", sys_platform = "=='linux2'"}
Adafruit-DHT = {version = "*", sys_platform = "=='linux2'"}
beautifulsoup4 = "*"
plotly = "*"
matplotlib = "*"
numpy = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.7"
