[Unit]
Description=thermostat service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/terrarium
ExecStart=/usr/bin/pipenv run python main.py
Restart=always

[Install]
WantedBy=multi-user.target
